Thank you for your purchase!

<% p "flash is: " %>
<% p flash %>

<% card = Card.find(flash[:card_id]) %>

<p>
    <%= card.name %><br>
    <%= card.artist %><br>
    $<%= number_with_precision(flash[:paid], :precision => 2) %>
</p>

This item will be shipped to the following address:

<p>
    <%= flash[:address_line_1] %><br>
    <%= flash[:address_line_2] %><br>
    <%= flash[:city] %><br>
    <%= flash[:state_abbr] %><br>
    <%= flash[:zip_code] %>
</p>