<% if !@card %>
    <p>card not found!</p>
<% else %>

    <%= image_tag @card.imgsrc %>

    <h3><%= @card.name %></h3>
    <h4>Artist: <%= @card.artist %></h4>
    <p><%= image_tag @mana_img %></p>
    <p>$<%= number_with_precision(@price, :precision => 2) %></p>


    <%= form_tag("/checkout", method: "get", id: "checkout") do %>
      <input type="hidden" name="id" value="<%= @card.id %>">
      <input type="submit" value="Purchase">
    <% end %>

<% end %>